.DS_Store
.pdf
*.zip
.html

.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/tutorials/week-02/week-02.html
inst/tutorials/week-03/data/.Rapp.history
inst/tutorials/week-03/week-03.html
/inst/tutorials/week-03/week-03_files
